<!DOCTYPE html>
<html lang="en" xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/components/metas :: metas"></include>
    <include th:replace="views/components/styles :: styles"></include>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- navbar -->
    <include th:replace="views/components/navbar :: navbar"></include>
    <!--sidebar-->
    <!-- start aside container -->
    <aside class="main-sidebar sidebar-dark-lightblue elevation-4">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
            <span class="brand-text font-weight-light">
                <h6 align="center"><small>SME Journal</small></h6>
            </span>
        </a>

        <!-- start sidebar -->
        <div class="sidebar">

            <!-- start user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="../../vendors/assets/img/avatar.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Welcome!</a>
                </div>
            </div>
            <!-- end user panel (optional) -->

            <!-- start navbar -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item has-treeview">
                        <a href="/dashboard" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/employees" class="nav-link active">
                            <i class="nav-icon fas fa-address-card"></i>
                            <p>Employees</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/product" class="nav-link">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>Product</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/partners" class="nav-link">
                            <i class="nav-icon fas fa-address-book"></i>
                            <p>Partners</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-globe"></i>
                            <p>Encoding
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/brand" class="nav-link">
                                    <i class="fa fa-file nav-icon"></i>
                                    <p>Brand</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/category" class="nav-link ">
                                    <i class="fa fa-file-alt nav-icon"></i>
                                    <p>Category</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/customer" class="nav-link ">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>Customers</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>Global
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/countries" class="nav-link">
                                    <i class="fa fa-file nav-icon"></i>
                                    <p>Countries</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/states" class="nav-link">
                                    <i class="fa fa-file-alt nav-icon"></i>
                                    <p>States</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/locations" class="nav-link ">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>Locations</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon fa fa-power-off"></i>
                            <p>
                                Logout
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- end navbar -->
        </div>
        <!-- end sidebar -->
    </aside>
    <!-- end aside container -->

    <!-- content wrapper -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Employee</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Header (Page header) -->

        <!-- start main section content -->
        <section>
            <div class="container-fluid">
                <div class="card card-outline card-lightblue">
                    <div class="card-header">
                        <h5><i class="fa fa-plus"></i> Employee Information</h5>
                    </div>

                    <form th:action="@{/save-employee}" th:object="${employee}" enctype="multipart/form-data" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Employee Name:</label>
                                                <input th:field="*{fullName}" type="text" class="form-control" placeholder="Full Name" required/>
                                            </div>
                                        </div>

                                        <div class="col-md-2 form-control">
                                            <div class="form-group">
                                                <label class="col-form-label">Employee Number:</label>
                                                <input th:field="*{employeeNumber}" type="text" class="form-control" placeholder="Employee Number" required/>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="col-form-label">Age:</label>
                                                <input th:field="*{age}" type="number" class="form-control" placeholder="Age" required/>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="col-form-label">Employee Name:</label>
                                                <select th:field="*{department}" class="form-control">
                                                    <option th:value="IT" th:text="IT"></option>
                                                    <option th:value="HR" th:text="HR"></option>
                                                    <option th:value="Accounting" th:text="Accounting"></option>
                                                    <option th:value="Finance" th:text="Finance"></option>
                                                    <option th:value="Logistic" th:text="Logistic"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-form-label">Gender:</label>
                                                <input type="radio" th:field="*{gender}" th:value="Male" th:text=" Male" class="form-check-inline"  required/>
                                                <input type="radio" th:field="*{gender}" th:value="Female" th:text=" Female" class="form-check-inline" required/>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-form-label">Joining Date :</label>
                                                <input type="date" id="join_datepicker" th:field="*{joiningDate}" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-form-label">Retiring Date :</label>
                                                <input type="date" id="retire_datepicker" th:field="*{retiringDate}" class="form-control"/>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn bg-purple">
                                <i class="fa fa-save"></i> Submit
                            </button>
                            <a href="/employees" class="btn btn-outline-danger btn-rounded">
                                <i class="fa fa-times"></i> Close
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </section>
        <!-- start main section content -->


    </div>
    <!--end content wrapper-->

</div>


<!--Date function-->
<script>
    $(function() {
        $("#join_datepicker").datepicker({
            dateFormat : "yy-mm-dd"
        });
        $("#retire_datepicker").datepicker({
            dateFormat : "yy-mm-dd"
        });
    });
</script>

    <include th:replace="views/components/scripts :: scripts"></include>
</body>
</html>