<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/components/metas :: metas"></include>
    <include th:replace="views/components/styles :: styles"></include>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- navbar -->
    <include th:replace="views/components/navbar :: navbar"></include>
    <!-- sidebar -->
    <!-- sidebar -->
    <!-- start aside container -->
    <aside class="main-sidebar sidebar-dark-lightblue elevation-4">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
            <span class="brand-text font-weight-light">
                <h6 align="center"><small>SME Journal</small></h6>
            </span>
        </a>

        <!-- start sidebar -->
        <div class="sidebar">

            <!-- start user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="../../vendors/assets/img/avatar.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Welcome!</a>
                </div>
            </div>
            <!-- end user panel (optional) -->

            <!-- start navbar -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item has-treeview">
                        <a href="/dashboard" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/employees" class="nav-link">
                            <i class="nav-icon fas fa-address-card"></i>
                            <p>Employees</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/product" class="nav-link">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>Product</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/partners" class="nav-link">
                            <i class="nav-icon fas fa-address-book"></i>
                            <p>Partners</p>
                        </a>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>Encoding
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/brand" class="nav-link">
                                    <i class="fa fa-file nav-icon"></i>
                                    <p>Brand</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/category" class="nav-link ">
                                    <i class="fa fa-file-alt nav-icon"></i>
                                    <p>Category</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/customer" class="nav-link active">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>Customers</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-globe"></i>
                            <p>Global
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/countries" class="nav-link">
                                    <i class="fa fa-file nav-icon"></i>
                                    <p>Countries</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/states" class="nav-link">
                                    <i class="fa fa-file-alt nav-icon"></i>
                                    <p>States</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/locations" class="nav-link ">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>Locations</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon fa fa-power-off"></i>
                            <p>
                                Logout
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- end navbar -->
        </div>
        <!-- end sidebar -->
    </aside>
    <!-- end aside container -->

    <!-- content wrapper -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <a href="/add-customer" class="btn bg-purple"><i class="fas fa-plus-square"></i> Add
                            Customers</a>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Customers</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <!--contain table-->
            <div class="section-body mt-3">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card card-purple card-outline">
                                <div class="card-body">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <table class="table table-bordered table-hover text-center" width="100%">
                                                <thead>
                                                <tr>
                                                    <td>ID</td>
                                                    <th>FirstName</th>
                                                    <th>MiddleName</th>
                                                    <th>LastName</th>
                                                    <th>Gender</th>
                                                    <th>Contact</th>
                                                    <th>Age</th>
                                                    <th>Address</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <div th:if="${not #lists.isEmpty(customers)}">
                                                    <tr th:each="row:${customers}">
                                                        <td th:text="${row.id}"></td>
                                                        <td th:text="${row.firstName}"></td>
                                                        <td th:text="${row.middleName}"></td>
                                                        <td th:text="${row.lastName}"></td>
                                                        <td th:text="${row.gender}"></td>
                                                        <td th:text="${row.contact}"></td>
                                                        <td th:text="${row.age}"></td>
                                                        <td th:text="${row.address}"></td>
                                                        <td>
                                                            <div class="btn-group btn-group-sm">
                                                                <a th:href="@{'/edit-customer/' + ${row.id}}"
                                                                   class="btn bg-purple btn-xs"><i class="fa fa-pencil-alt"></i>
                                                                </a>

                                                                <a th:href="@{'/delete-customer/' + ${row.id}}"
                                                                   data-toggle="modal" data-target="#deleteModal"
                                                                   id="deleteButton" style="margin-left: 5px"
                                                                   class="btn bg-red btn-xs"><i class="fas fa-trash"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </div>
                                                <div th:if="${#lists.isEmpty(customers)}">
                                                    <tr>
                                                        <td>No Customers exists!</td>
                                                    </tr>
                                                </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end contain table-->


            <!-- delete modal -->
            <div id="deleteModal" class="modal fade delete-modal animated rubberBand" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="../../../vendors//assets/img/sent.png" alt="" width="50" height="46">
                            <h3>Are you sure want to delete this Records?</h3>
                            <div class="m-t-20">
                                <a type="#" class="btn btn-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
                                <a type="submit" class="btn btn-danger" id="delRef"><i class="fa fa-trash"></i>
                                    Delete</a>
                                <input type="hidden" name="id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end pop up delete-->


        </section>
        <!--end of main content-->

    </div>
    <!-- end content wrapper -->

    <!--footer-->
    <include th:replace="views/components/footer :: footer"></include>

</div>
<include th:replace="views/components/scripts :: scripts"></include>


<!--delete modal-->
<script>
    /** Delete Modal **/
    $('document').ready(function () {

        /** Delete Modal **/
        $('.table #deleteButton').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteModal #delRef').attr('href', href);
            $('#deleteModal').modal();
        });

    });
</script>

</body>
</html>